**/.venv/
**/.pytest_cache/
**/__pycache__/
**/*.egg-info/
**/build/
**/dist/
**/*.spec
**/*.py[cod]
**/.migration-cache/
**/github-artifacts/
**/.env
db-mcp/config/datasources.yaml
db-mcp/config/env.yaml
loki-mcp/config/env.yaml
redis-mcp/config/env.yaml
obs-mcp/config/env.yaml
k8s-mcp/config/clusters.yaml
k8s-mcp/config/env.yaml
k8s-mcp/config/kubeconfigs/
.github/
.docs/
.idea/
